body{
    background-color: rgb(217, 240, 239);
    color: orangered;

}
h1{
    color:steelblue;
    text-decoration: underline red;
    font-weight: bolder;
    font-family: italian;
    text-align: center;
}
